{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>List of {{ .Title }} — {{ .Site.Title }}</title>
<meta name="description" content="Entries of {{ .Title }}">
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article itemscope itemtype='http://schema.org/Blog' itemref='maker'>
<h1 itemprop='name'>Entries of {{ .Title }} <a href='{{ .RSSLink }}' title='Feed'><i class='fa fa-rss'></i></a></h1>
<ul class="title-list">{{ range .Data.Pages }}{{ partial "li.html" . }}{{ end }}</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}
