{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>{{ .Title }} — {{ .Site.Title }}</title>{{ if .Description }}
<meta name="description" content="{{ .Description }}">{{ else }}{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}{{ end }}{{ with .Params.tags }}
<meta name="keywords" content="{{ delimit . ", " }}">{{ end }}

{{ partial "json-ld-single.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ .Title }}{{ with .Section }} [<a href="/{{ . | urlize }}">{{ . }}</a>]{{ end }}</h1>
<nav class="tags">{{ with .Params.tags }}<div><a href="/tags">Tags</a>:{{ range sort . }} #<a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}</div>{{ end }}</nav>

<section>
{{ .Content }}
</section>

</article>
</main>

{{ partial "feedback.html" . }}
{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}