{{ partial "top.html" . }}
<head>
{{ partial "header-terms.html" . }}
<title>{{ .Title }} Cloud — {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} Cloud — {{ .Site.Title }}">
<meta name="description" content="{{ .Title }} Cloud">
<meta property="og:description" content="{{ .Title }} Cloud">{{ with .Site.Author }}{{ if .avatar }}
<meta property="og:image" content="{{ .avatar | absURL }}">{{ end }}{{ end }}

{{ partial "json-ld-term.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>{{ .Title }} Cloud</h1>
<ul class="cloud">{{ $plural := .Data.Plural }}
{{ range $key, $value := .Data.Terms }}{{ $count := len $value }}{{ $sz := add (math.Round (mul (math.Log $count) 5)) 5 }}
	<li style="font-size:{{ $sz }}pt;"><a href="/{{ $plural }}/{{ $key | urlize }}" title="{{ $key }} ({{ $count }})">{{ $key }}</a></li>
{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}