<footer><!-- Footer Section -->
{{ if .Params.author }}
	<div class="userinfo">
		<div class="userinfo-avater">
			{{ if .Params.author.avatar }}
				{{ if .Params.author.url }}<a href="{{ .Params.author.url }}">{{ end }}<img src="{{ .Params.author.avatar }}" width="48" height="48">{{ if .Params.author.url }}</a>{{ end }}
			{{ else }}
				<img src="/images/avatar.png" width="48" height="48">
			{{ end }}
		</div>
		<div class="userinfo-info">
			{{ if .Params.author.name }}
				Written by {{ if .Params.author.url }}<a href="{{ .Params.author.url }}">{{ .Params.author.name }}</a>{{ else }}{{ .Params.author.name }}{{ end }}{{ with .Date }} in {{ .Format "2006-01-02" }}{{ end }}{{ with .Params.update }} (revised in {{ . | dateFormat "2006-01-02" }}){{ end }}.
				{{ partial "cc-license.html" .Params.author.license }}
			{{ end }}
			{{ partial "social.html" . }}
		</div>
	</div>
{{ else if .Site.Params.author }}{{ $root := eq .Site.Title .Title }}
	<div class="userinfo">
		<div class="userinfo-avater">
			{{ if .Site.Params.author.avatar }}
				{{ if .Site.Params.author.url }}<a href="{{ .Site.Params.author.url }}">{{ end }}<img src="{{ .Site.Params.author.avatar }}" width="48" height="48">{{ if .Site.Params.author.url }}</a>{{ end }}
			{{ else }}
				<img src="/images/avatar.png" width="48" height="48">
			{{ end }}
		</div>
		<div class="userinfo-info">
			{{ if .Site.Params.author.name }}
				Written by {{ if .Site.Params.author.url }}<a href="{{ .Site.Params.author.url }}">{{ .Site.Params.author.name }}</a>{{ else }}{{ .Site.Params.author.name }}{{ end }}{{ if $root }}, since 2015{{ else }}{{ with .Date }} in {{ .Format "2006-01-02" }}{{ end }}{{ with .Params.update }} (revised in {{ . | dateFormat "2006-01-02" }}){{ end }}{{ end }}.
				{{ partial "cc-license.html" .Site.Params.author.license }}
			{{ end }}
			{{ partial "social.html" . }}
		</div>
	</div>
{{ end }}
{{ partial "navi.html" . }}
</footer><!-- Footer Section -->
