<footer><!-- Footer Section -->
{{ with .Params.author }}
	<div class="userinfo">
		<div class="userinfo-avater">
			{{ if .avatar }}
				{{ if .url }}<a href="{{ .url }}">{{ end }}<img src="{{ .avatar }}" width="48" height="48" alt="avatar">{{ if .url }}</a>{{ end }}
			{{ else }}
				<img src="/images/avatar.png" width="48" height="48" alt="avatar">
			{{ end }}
		</div>
		<div class="userinfo-info" id="maker" itemprop='author' itemscope itemtype='http://schema.org/Person'>
			{{ if .name }}
				{{ if $.IsPage }}Written{{ else }}Revised{{ end }} by {{ with .url }}<a href="{{ . }}" rel="cc:attributionURL" property="cc:attributionName" itemprop='name'>{{ else }}<span property="cc:attributionName" itemprop='name'>{{ end }}{{ .name }}{{ if .url }}</a>{{ else }}</span>{{ end }} in <time property='dc:dateCopyrighted'>{{ $.Date.Format "2006-01-02" }}</time>{{ with $.Params.update }} (revised in <time property='dc:modified'>{{ . | dateFormat "2006-01-02" }}</time>){{ end }}.
				{{ with .license }}{{ partial "cc-license.html" . }}{{ end }}
			{{ end }}
			{{ partial "social.html" $ }}
		</div>
	</div>
{{ else }}{{ with .Site.Author }}{{ $root := eq $.Site.Title $.Title }}
	<div class="userinfo">
		<div class="userinfo-avater">
			{{ if .avatar }}
				{{ if .url }}<a href="{{ .url }}">{{ end }}<img src="{{ .avatar }}" width="48" height="48" alt="avatar">{{ if .url }}</a>{{ end }}
			{{ else }}
				<img src="/images/avatar.png" width="48" height="48" alt="avatar">
			{{ end }}
		</div>
		<div class="userinfo-info" id="maker" itemprop='author' itemscope itemtype='http://schema.org/Person'>
			{{ if .name }}
				{{ if $.IsPage }}Written{{ else }}Revised{{ end }} by {{ with .url }}<a href="{{ . }}" rel="cc:attributionURL" property="cc:attributionName" itemprop='name'>{{ else }}<span property="cc:attributionName" itemprop='name'>{{ end }}{{ .name }}{{ if .url }}</a>{{ else }}</span>{{ end }}{{ if or $root $.IsNode }}{{ with $.Site.Params.since }}, <time property='dc:dateCopyrighted'>{{ . | dateFormat "2006" }}</time>{{ with $.Site.LastChange }} - <time property='dc:modified'>{{ . | dateFormat "2006" }}</time>{{ end }}{{ end }}{{ else }} in <time property='dc:dateCopyrighted'>{{ $.Date.Format "2006-01-02" }}</time>{{ with $.Params.update }} (revised in <time property='dc:modified'>{{ . | dateFormat "2006-01-02" }}</time>){{ end }}{{ end }}.
				{{ with .license }}{{ partial "cc-license.html" . }}{{ end }}
			{{ end }}
			{{ partial "social.html" $ }}
		</div>
	</div>
{{ end }}{{ end }}
{{ partial "navi.html" . }}
</footer><!-- Footer Section -->
