{{ partial "json-ld-site.html" . }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"@id": "{{ .Permalink }}#breadcrumb-list",
	"itemListElement": [
		{
			"@type": "ListItem",
			"position": 1,
			"item": {
				"@id": "{{ .Site.BaseURL }}"
			}
		}{{ if .Data.Plural }},
		{
			"@type": "ListItem",
			"position": 2,
			"item": {
				"@type": "WebPage",
				"@id": "{{ .Site.BaseURL }}{{ urlize .Data.Plural }}/",
				"url": "{{ .Site.BaseURL }}{{ urlize .Data.Plural }}/",
				"name": "{{ humanize .Data.Plural }}"{{ with .Site.Author }}{{ if .avatar }},
				"image": "{{ .avatar | absURL }}"{{ end }}{{ end }}
			}
		}{{ end }}
	]
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebPage",
	"@id": "{{ .Permalink }}",
	"url": "{{ .Permalink }}",
	"inLanguage": "{{ .Site.LanguageCode }}",
	"name": "Entries of {{ .Title }}{{ with .Data.Plural }} in {{ humanize . }}{{end }}",
	"description": "Entries of {{ .Title }}{{ with .Data.Plural }} in {{ humanize . }}{{end }}",
	"publisher": {
		"@id": "{{ .Site.BaseURL }}#org"
	}{{ with .Site.Author }},
	"author": {
		"@id": "{{ $.Site.BaseURL }}#maker"
	}{{ if .avatar }},
	"image": "{{ .avatar | absURL }}"{{ end }}{{ end }}
}
</script>