<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"@id": "{{ .Site.BaseURL }}",
	"inLanguage": "{{ .Site.LanguageCode }}",
	"name": "{{ .Site.Title }}",
    "url": "{{ .Site.BaseURL }}",
	"publisher": {
		"@id": "{{ .Site.BaseURL }}#org"
	}{{ with .Site.Author }},
	"author": {
		"@id": "{{ $.Site.BaseURL }}#maker"
	}{{ if .avatar }},
	"image": "{{ .avatar | absURL }}"{{ end }}{{ end }}{{ with .Site.Params.description }},
	"description": {{ . | jsonify }}{{ end }}
}
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Organization",
	"@id": "{{ .Site.BaseURL }}#org",
	"name": "{{ .Site.Title }}"{{ with .Site.Author }}{{ if .avatar }},
	"logo": {
		"@type": "ImageObject",
		"@id": "{{ $.Site.BaseURL }}#logo",
		"url": "http://text.baldanders.info/images/avatar.jpg"
	}{{ end }}{{ end }}
}
</script>{{ with .Site.Author }}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"@id": "{{ $.Site.BaseURL }}#maker",
	"name": "{{ .name }}"{{ if .url }},
	"url": "{{ .url }}"{{ end }}{{ if .avatar }},
	"image": "{{ .avatar | absURL }}"{{ end }}
}
</script>{{ end }}