{{ with .Params.author }}
	<ul class="social">
		{{ with .github }}<li><a href="https://github.com/{{ . }}" target="_blank"><i class="fa fa-github"></i></a></li>{{ end }}
		{{ with .twitter }}<li><a href="https://twitter.com/{{ . }}" target="_blank"><i class="fa fa-twitter"></i></a></li>{{ end }}
		{{ with .medium }}<li><a href="https://medium.com/{{ . }}" target="_blank"><i class="fa fa-medium"></i></a></li>{{ end }}
		{{ with .tumblr }}<li><a href="http://{{ . }}.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>{{ end }}
		{{ with .instagram }}<li><a href="http://instagram.com/{{ . }}" target="_blank"><i class="fa fa-instagram"></i></a></li>{{ end }}
		{{ with .facebook }}<li><a href="https://www.facebook.com/{{ . }}" target="_blank"><i class="fa fa-facebook"></i></a></li>{{ end }}
		{{ with .linkedin }}<li><a href="https://jp.linkedin.com/in/{{ . }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>{{ end }}
		{{ with .email }}<li><a href="mailto:{{ . }}" target="_blank"><i class="fa fa-envelope"></i></a></li>{{ end }}
	</ul>
	<div>
		{{ with .facebook }}<div class="fb-share-button" data-href="{{ $.Permalink }}" data-layout="button"></div>{{ end }}
		{{ with .twitter }}<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ $.Title }} - {{ $.Site.Title }}" data-via="{{ . }}" data-count="none" data-dnt="true">Tweet</a>{{ end }}
		{{ with .flattr }}<a href="https://flattr.com/submit/auto?user_id={{ . }}&amp;url={{ $.Permalink }}&amp;title={{ $.Title }}" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this"></a>{{ end }}
	</div>
{{ else }}{{ with .Site.Params.author }}{{ $root := eq $.Site.Title $.Title }}
	<ul class="social">
		{{ with .github }}<li><a href="https://github.com/{{ . }}" target="_blank"><i class="fa fa-github"></i></a></li>{{ end }}
		{{ with .twitter }}<li><a href="https://twitter.com/{{ . }}" target="_blank"><i class="fa fa-twitter"></i></a></li>{{ end }}
		{{ with .medium }}<li><a href="https://medium.com/{{ . }}" target="_blank"><i class="fa fa-medium"></i></a></li>{{ end }}
		{{ with .tumblr }}<li><a href="http://{{ . }}.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a></li>{{ end }}
		{{ with .instagram }}<li><a href="http://instagram.com/{{ . }}" target="_blank"><i class="fa fa-instagram"></i></a></li>{{ end }}
		{{ with .facebook }}<li><a href="https://www.facebook.com/{{ . }}" target="_blank"><i class="fa fa-facebook"></i></a></li>{{ end }}
		{{ with .linkedin }}<li><a href="https://jp.linkedin.com/in/{{ . }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>{{ end }}
		{{ with .email }}<li><a href="mailto:{{ . }}" target="_blank"><i class="fa fa-envelope"></i></a></li>{{ end }}
	</ul>
	<div>
		{{ with .facebook }}<div class="fb-share-button" data-href="{{ $.Permalink }}" data-layout="button"></div>{{ end }}
		{{ with .twitter }}<a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ if $root }}{{ $.Site.Title }}{{ else }}{{ $.Title }} - {{ $.Site.Title }}{{ end }}" data-via="{{ . }}" data-count="none" data-dnt="true">Tweet</a>{{ end }}
		{{ with .flattr }}<a href="https://flattr.com/submit/auto?user_id={{ . }}&amp;url={{ $.Permalink }}&amp;title={{ if $root }}{{ $.Site.Title }}{{ else }}{{ $.Title }}{{ end }}" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this"></a>{{ end }}
	</div>
{{ end }}{{ end }}
