{{ partial "top.html" . }}
{{ partial "header.html" . }}
<body>
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main role="main">
<article>
<h1>{{ $root := eq .Title .Site.Title }}{{ if eq $root true }}What's New{{ else }}{{ .Title }}{{ end }}</h1>
<ul style="list-style:none;">
{{ range .Data.Pages }}
<li><a href="{{ .RelPermalink }}">{{ .Title }} (<time pubdate="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>)</a>

</li>
{{ end }}
</ul>
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
</body>
{{ partial "end.html" . }}
