{{ partial "top.html" . }}
<head>
{{ partial "header.html" . }}
<title>{{ .Site.Title }}</title>{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">{{ end }}

{{ partial "json-ld-site.html" . }}
</head>
<body>
{{ partial "prepare.html" . }}
<div id='container'><!-- Container Area -->
{{ partial "banner.html" . }}

<main>
<article>
<h1>What's New</h1>

<section>
<h2>All Entries</h2>
<ul class="title-list">{{ range .Site.Pages }}{{ partial "li.html" . }}{{ end }}</ul>
</section> <!-- All Entries -->
</article>
</main>

{{ partial "footer.html" . }}
</div><!-- Container Area -->
{{ partial "cleanup.html" . }}
</body>
{{ partial "end.html" . }}